<div>
	<div class="btn-group" role="group" aria-label="...">
		<button type="button" class="btn btn-default" ng-click="move(-1);">back</button>
		<button type="button" class="btn btn-default" ng-click="move(1);">forward</button>
		<button type="button" class="btn btn-default" ng-click="send();">Send</button>
		{{mode}}
	</div>
	<div style="  border: 1px solid black;height:{{heightWithOffset(120)}}" resize >
		<div class="ace-container  ">
			<div ui-ace="aceOption" ng-model="aceModel" class="ace"></div>
		</div>
	</div>
</div>